/* Custom styles for portfolio */

.resume-button {
  border: 2px solid #915EFF;
  border-radius: 4px;
  padding: 6px 12px;
  transition: all 0.3s ease;
}

.resume-button:hover {
  background-color: #915EFF;
  color: white;
}
